body{
    margin:0;
}
.photo{
    border-radius: 20px;
}
header{
    display:flex;
    background-color: bisque;
}
p{
    padding-left: 5%;
}
h1{
    padding-left: 2%;
}
.logo{
    width: 30%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}
.menu{
    width: 70%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
    color:rgb(99, 105, 173)
}
article{
    display:flex;
    

}
article>div{
    font-size: 25px;
}
main{
    background-color: burlywood;
}
a{
    text-decoration: none;
    display:inline-block;
    color:rgb(101, 69, 27);
    background-color:burlywood;;
    padding:2px 32px;
    border-radius:6px;
}
footer{
    display:flex;
    font-size: 25px;
    background-color: bisque;
}